<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="college, school, educational">
	<meta name="description" content="Blog Post - Valencia College">
	<meta name="author" content="Valencia College">
	<title>Blog Post - Valencia College</title>
<!-- Favicons-->
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
<!-- BASE CSS -->
	<link href="/css/base.css" rel="stylesheet">
<!-- SPECIFIC CSS -->
	<link href="/css/blog.css" rel="stylesheet">
</head>
<body>
<!--[if lte IE 10]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a
  href="http://browsehappy.com/">upgrade your browser</a>.</p><![endif]-->
<div id="preloader">
	<div class="pulse">
	</div>
</div>
<!-- Pulse Preloader -->
<!-- Return to Top -->
<a href="javascript:" id="return-to-top" aria-label="Return to top"><i class="fa fa-angle-up" aria-label="Return to top" aria-hidden="true"></i></a> 
<!--<div class="header valencia-alert">ALERT</div>-->
<!-- ChromeNav Header================================================== -->
<div class="header header-chrome desktop-only">
	<div class="container">
		<nav>
			<div class="row">
				<div class="chromeNav col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<ul>
						<li class="submenu"><a href="javascript:void(0);" class="show-submenu">Students <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
						<ul>
							<li><a href="/STUDENTS/academics/current-students/index.html">Current Students</a></li>
							<li><a href="/STUDENTS/academics/future-students/index.html">Future Students</a></li>
							<li><a href="https://international.valenciacollege.edu">International Students</a></li>
							<li><a href="/STUDENTS/academics/military-veterans/index.html">Military &amp; Veterans</a></li>
						</ul>
						</li>
						<li><a href="/STUDENTS/academics/continuing-education/index.html">Continuing Education</a></li>
						<li><a href="/EMPLOYEES/faculty-staff.html">Faculty &amp; Staff</a></li>
						<li><a href="/FOUNDATION/alumni/index.html">Alumni &amp; Foundation</a></li>
					</ul>
				</div>
				<div class="chromeNav col-md-3 col-sm-3 col-xs-3 pull-right">
					<ul>
						<li><a href="#" data-toggle="modal" data-target="#login">Login <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
						<ul>
							<li class="fa-2x"><a href="https://atlas.valenciacollege.edu/"><i class="fa fa-user-circle-o" aria-hidden="true">&nbsp;</i> Atlas</a></li>
							<li><a href="https://valenciaalumniconnect.com/"><i class="fa fa-users" aria-hidden="true">&nbsp;</i> Alumni Connect</a> </li>
							<li> <a href="https://login.microsoftonline.com/PostToIDP.srf?msg=AuthnReq&amp;realm=mail.valenciacollege.edu&amp;wa=wsignin1.0&amp;wtrealm=urn:federation:MicrosoftOnline&amp;wctx=bk%3D1367916313%26LoginOptions%3D3"><i class="valencia-font icon-o365" aria-hidden="true">&nbsp;</i> Office 365</a> </li>
<!--Link to current LMS; Blackboard or Canvas-->
							<li><a href="http://learn.valenciacollege.edu"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp;</i>Valencia Online</a></li>
							<li><a href="https://outlook.office.com/owa/?realm=mail.valenciacollege.edu"><i class="fa fa-envelope" aria-hidden="true">&nbsp;</i> Webmail</a></li>
						</ul>
						</li>
						<li><a href="https://preview.valenciacollege.edu/search" id="search_bt"><i class="fa fa-search" aria-hidden="true"></i><span>Search</span></a> </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- Site Header================================================== -->
<div class="header header-site">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-3">
				<div id="logo">
					<a href="/index.html"> <img src="/img/logo-vc.png" width="265" height="40" alt="Valencia College Logo" data-retina="true"></a>
				</div>
			</div>
			<nav class="col-md-9 col-sm-9 col-xs-9">
				<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a> 
				<div class="site-menu">
					<div id="site_menu">
						<img src="/img/logo-vc.png" width="265" height="40" alt="Valencia College" data-retina="true">
					</div>
					<a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a> 
					<ul>
						<li><a href="/STUDENTS/academics/index.html">Academics</a></li>
						<li class="megamenu submenu"><a href="javascript:void(0);" class="show-submenu-mega">Admissions <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
						<div class="menu-wrapper">
							<div class="col-md-6">
								<ul>
									<li><a href="/icon-pack-1.html">Admission &amp; Records</a></li>
									<li><a href="/icon-pack-2.html">Admission Details</a></li>
									<li><a href="/icon-pack-3.html">Applications &amp; Forms</a></li>
									<li><a href="/icon-pack-4.html">Change of Program/Major</a></li>
									<li><a href="/shortcodes.html">Degree Verification</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="/academic_single_course.html">Enrollment Verification</a></li>
									<li><a href="/blog.html">Florida Residency</a></li>
									<li><a href="/contacts.html">Paying for Classes</a></li>
									<li><a href="/agenda_calendar.html">Registration Details</a></li>
									<li><a href="/gallery.html">Steps to Enroll</a></li>
								</ul>
							</div>
						</div>
<!-- End menu-wrapper -->
						</li>
						<li class="megamenu submenu"><a href="javascript:void(0);" class="show-submenu-mega">Programs &amp; Degrees <i class="fa fa-angle-down" aria-hidden="true"></i></a> 
						<div class="menu-wrapper c3">
							<div class="col-md-4">
								<h3>
									Programs
								</h3>
								<ul>
									<li><a href="/icon-pack-1.html">General Studies</a></li>
									<li><a href="/icon-pack-2.html">Arts &amp; Entertainment</a></li>
									<li><a href="/icon-pack-3.html">Business</a></li>
									<li><a href="/icon-pack-4.html">Communications</a></li>
									<li><a href="/shortcodes.html">Education</a></li>
									<li><a href="/shortcodes.html">Engineering</a></li>
									<li><a href="/shortcodes.html">Computer Programming</a></li>
									<li><a href="/shortcodes.html">Health Sciences</a></li>
								</ul>
							</div>
							<div class="col-md-4">
								<h3>
									Areas
								</h3>
								<ul>
									<li><a href="/academic_single_course.html">Hospitality &amp; Culinary</a></li>
									<li><a href="/blog.html">Information Technology</a></li>
									<li><a href="/contacts.html">Landscape &amp; Horticulture</a></li>
									<li><a href="/agenda_calendar.html">Public Safety &amp; Paralegal Studies</a> </li>
									<li><a href="/gallery.html">Science &amp; Mathematics</a></li>
									<li><a href="/shortcodes.html">Social Sciences</a></li>
								</ul>
							</div>
							<div class="col-md-4">
								<h3>
									Degrees
								</h3>
								<ul>
									<li><a href="/shortcodes.html">Associate in Arts</a></li>
									<li><a href="/shortcodes.html">Associate in Science</a></li>
									<li><a href="/shortcodes.html">Bachelor of Science</a></li>
									<li><a href="/shortcodes.html">Certificate Programs</a></li>
									<li><a href="/shortcodes.html">Advanced Technical Certificates</a></li>
								</ul>
							</div>
						</div>
<!-- End menu-wrapper -->
						</li>
						<li><a href="/ABOUT/index.html">About</a></li>
						<li class="site-menu-outline"><a href="http://net1.valenciacollege.edu/future-students/visit-valencia/">Request Info</a> </li>
						<li class="site-menu-outline apply"><a href="https://ssb-01.valenciacollege.edu:9050/pls/PROD/bwskalog.p_disploginnew?in_id=&amp;cpbl=&amp;newid=">Apply</a> </li>
					</ul>
				</div>
<!-- End site-menu -->
			</nav>
		</div>
	</div>
<!-- container -->
</div>
<!-- End Header -->
<div class="sub_header bg_1">
	<div id="intro_txt">
		<h1>
			Valencia <strong>Blog</strong> page
		</h1>
		<p>
			Ex saepe accusata duo, vel ne summo option delenit.
		</p>
	</div>
</div>
<!--End sub_header -->
<div id="route">
	<div class="container">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Category</a></li>
			<li>Page active</li>
		</ul>
	</div>
</div>
<!-- Position -->
<div>
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-9">
				<div class="post">
					<img src="/img/blog-3.jpg" alt="Valencia image description" class="img-responsive"> 
					<div class="post_info clearfix">
						<div class="post-left">
							<ul>
								<li><i class="icon-calendar-empty"></i>12/05/2015 <em>by Mark</em></li>
								<li><i class="icon-inbox-alt"></i><a href="#">Category</a></li>
								<li><i class="icon-tags"></i><a href="#">Works</a>, <a href="#">Personal</a></li>
							</ul>
						</div>
						<div class="post-right">
							<i class="icon-comment"></i><a href="#">25 </a>
						</div>
					</div>
					<h2>
						Duis aute irure dolor in reprehenderit
					</h2>
					<p>
						Ludus albucius adversarium eam eu. Sit eu reque tation aliquip. Quo no dolorum albucius lucilius, hinc eligendi ut sed. Ex nam quot ferri suscipit, mea ne legere alterum repudiandae. Ei pri quaerendum intellegebat, ut vel consequuntur voluptatibus. Et volumus sententiae adversarium duo...... 
					</p>
					<p>
						Ludus albucius adversarium eam eu. Sit eu reque tation aliquip. Quo no dolorum albucius lucilius, hinc eligendi ut sed. Ex nam quot ferri suscipit, mea ne legere alterum repudiandae. Ei pri quaerendum intellegebat, ut vel consequuntur voluptatibus. Et volumus sententiae adversarium duo...... 
					</p>
				</div>
<!-- end post -->
				<h4>
					3 comments
				</h4>
				<div id="comments">
					<ol>
						<li> 
						<div class="avatar">
							<a href="#"><img src="/img/avatar1.jpg" alt="Valencia image description"></a>
						</div>
						<div class="comment_right clearfix">
							<div class="comment_info">
								Posted by <a href="#">Anna Smith</a><span>|</span> 25 apr 2019 <span>|</span><a href="#">Reply</a>
							</div>
							<p>
								Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante. 
							</p>
						</div>
						<ul>
							<li> 
							<div class="avatar">
								<a href="#"><img src="/img/avatar2.jpg" alt="Valencia image description"></a>
							</div>
							<div class="comment_right clearfix">
								<div class="comment_info">
									Posted by <a href="#">Tom Sawyer</a><span>|</span> 25 apr 2019 <span>|</span><a href="#">Reply</a>
								</div>
								<p>
									Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante. 
								</p>
								<p>
									Aenean iaculis sodales dui, non hendrerit lorem rhoncus ut. Pellentesque ullamcorper venenatis elit idaipiscingi Duis tellus neque, tincidunt eget pulvinar sit amet, rutrum nec urna. Suspendisse pretium laoreet elit vel ultricies. Maecenas ullamcorper ultricies rhoncus. Aliquam erat volutpat. 
								</p>
							</div>
							</li>
						</ul>
						</li>
						<li> 
						<div class="avatar">
							<a href="#"><img src="/img/avatar3.jpg" alt="Valencia image description"></a>
						</div>
						<div class="comment_right clearfix">
							<div class="comment_info">
								Posted by <a href="#">Adam White</a><span>|</span> 25 apr 2019 <span>|</span><a href="#">Reply</a>
							</div>
							<p>
								Cursus tellus quis magna porta adipiscin 
							</p>
						</div>
						</li>
					</ol>
				</div>
<!-- End Comments -->
				<h4>
					Leave a comment
				</h4>
				<form action="#" method="post">
					<div class="form-group">
						<input class="form-control styled" type="text" name="name" placeholder="Enter name">
					</div>
					<div class="form-group">
						<input class="form-control styled" type="text" name="mail" placeholder="Enter email">
					</div>
					<div class="form-group">
						<textarea name="message" class="form-control styled" style="height:150px;" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="button" value="Post Comment">
						<input type="reset" class="button_outline" value="Clear form">
					</div>
				</form>
			</div>
<!-- End col-md-8-->
			<aside class="col-md-3" id="sidebar">
				<div class="widget">
					<h4>
						Categories
					</h4>
					<ul id="cat_nav">
						<li><a href="#">News</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Posted by staff</a></li>
					</ul>
				</div>
<!-- End widget -->
				<hr>
				<div class="widget">
					<h4>
						Recent post
					</h4>
					<ul class="recent_post">
						<li><i class="icon-calendar-empty"></i> 16th July, 2020 
						<div>
							<a href="#">It is a long established fact that a reader will be distracted </a>
						</div>
						</li>
						<li><i class="icon-calendar-empty"></i> 16th July, 2020 
						<div>
							<a href="#">It is a long established fact that a reader will be distracted </a>
						</div>
						</li>
						<li><i class="icon-calendar-empty"></i> 16th July, 2020 
						<div>
							<a href="#">It is a long established fact that a reader will be distracted </a>
						</div>
						</li>
					</ul>
				</div>
<!-- End widget -->
				<hr>
				<div class="widget tags">
					<h4>
						Tags
					</h4>
					<a href="#">Lorem ipsum</a> <a href="#">Dolor</a> <a href="#">Long established</a> <a href="#">Sit amet</a> <a href="#">Latin words</a> <a href="#">Excepteur sint</a>
				</div>
<!-- End widget -->
			</aside>
<!-- End aside -->
		</div>
<!-- End row-->
	</div>
<!-- End container -->
</div>
<!--End container_gray_bg -->
<div class=" container_gray_line" id="newsletter_container">
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3>
					Subscribe to our Newsletter for latest news.
				</h3>
				<div id="message-newsletter">
				</div>
				<form method="post" action="/assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
					<input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
					<button id="submit-newsletter" class="button"> Subscribe</button> 
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End newsletter_container -->
<footer>
	<div class="container">
		<div class="row ">
			<div class="col-md-2 col-sm-2">
				<h4>
					About Valencia
				</h4>
				<ul>
					<li><a href="#">Board of Trustees</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Financial Aid</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Office of the President</a></li>
					<li><a href="#">Recognition</a></li>
					<li><a href="#">Sustainability</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2">
				<h4>
					Your Valencia
				</h4>
				<ul>
					<li><a href="#">Current Students</a></li>
					<li><a href="#">Future Students</a></li>
					<li><a href="#">International Students</a></li>
					<li><a href="#">Faculty &amp; Staff</a></li>
					<li><a href="#">Alumni &amp; Foundation</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2">
				<h4>
					Academics
				</h4>
				<ul>
					<li><a href="#">Academic Calendar</a></li>
					<li><a href="#">Admissions</a></li>
					<li><a href="#">Class Schedule</a></li>
					<li><a href="#">Continuing Education</a></li>
					<li><a href="#">Degrees &amp; Programs</a></li>
					<li><a href="#">Departments</a></li>
					<li><a href="#">Libraries</a></li>
					<li><a href="#">Records &amp; Transcripts</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2">
				<h4>
					Support
				</h4>
				<ul>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Employment</a></li>
					<li><a href="#">Getting Help</a></li>
					<li><a href="#">Locations</a></li>
					<li><a href="#">Phone Directory</a></li>
					<li><a href="#">Search</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2">
				<h4>
					Policy
				</h4>
				<ul>
					<li><a href="#">Consumer Information</a></li>
					<li><a href="#">Office of Legal Counsel &amp; Policy</a></li>
					<li><a href="#">Policy Manual</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Social Security Number Usage</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-2">
				<a href="#"><i class="fa fa-facebook fa-2x social-padding white" aria-label="Find us on Facebook"></i></a><a href="#"><i class="fa fa-twitter fa-2x social-padding" aria-label="Find us on Facebook"></i></a><a href="#"><i class="fa fa-instagram fa-2x  social-padding" aria-label="Find us on Facebook"></i></a><a href="#"><i class="fa fa-linkedin fa-2x" aria-label="Find us on Facebook"></i></a> <span><img src="/img/logo-50th-valencia.png" class="logo-50th" alt="Celebrating fifty years of better tomorrows - logo"> </span>
			</div>
		</div>
<!-- End row -->
		<div class="row" id="copy">
			<div class="col-md-7 col-sm-7">
				Valencia College provides equal opportunity for educational opportunities and employment to all. Contact the Office of Organizational Development and Human Resources for information. 
			</div>
			<div class="col-md-1 col-sm-1 vertical_gray_line">
				&nbsp; <br />
				&nbsp; <br />
				&nbsp; 
			</div>
			<div class="col-md-3 col-sm-4">
				P.O. Box 3028, Orlando, Florida 32802 <br />
				407-299-5000 <br />
				&copy; Valencia College 2017 - All rights reserved. 
			</div>
		</div>
	</div>
<!-- End container -->
</footer>
<!-- Login modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<a href="#" class="close-link"><i class="icon_close_alt2"></i></a> 
			<form action="#" class="popup-form" id="myLogin">
				<input type="text" class="form-control form-white" placeholder="Username">
				<input type="text" class="form-control form-white" placeholder="Password">
				<div class="checkbox-holder text-left">
					<div class="checkbox">
						<input type="checkbox" value="accept_1" id="check_1" name="check_1" />
						<label for="check_1"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label> 
					</div>
				</div>
				<button type="submit" class="btn btn-submit">Submit</button> 
			</form>
		</div>
	</div>
</div>
<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<a href="#" class="close-link"><i class="icon_close_alt2"></i></a> 
			<form action="#" class="popup-form" id="myRegister">
				<input type="text" class="form-control form-white" placeholder="Name">
				<input type="text" class="form-control form-white" placeholder="Last Name">
				<input type="email" class="form-control form-white" placeholder="Email">
				<input type="text" class="form-control form-white" placeholder="Password">
				<div class="checkbox-holder text-left">
					<div class="checkbox">
						<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
						<label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label> 
					</div>
				</div>
				<button type="submit" class="btn btn-submit">Register</button> 
			</form>
		</div>
	</div>
</div>
<!-- Search modal -->
<div id="search">
	<button type="button" class="close">×</button> 
	<form>
		<input type="search" value="" placeholder="type keyword(s) here">
		<button type="submit" class="button">Search</button> 
	</form>
</div>
<!-- Common scripts -->
<script src="/js/jquery-1.11.2.min.js">
</script>
<script src="/js/common_scripts_min.js">
</script>
<script src="/js/functions.js">
</script>
<script src="/assets/validate.js">
</script>
</body>
</html>
