<html>
<head>
</head>
<body>
<center>
	<h1>
		Launch templates
	</h1>
	<table>
		<tr>
			<td><a href="home.html">home.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The main page of the site</td>
		</tr>
		<tr>
			<td><a href="landing.html">landing.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The landing page for the primary areas</td>
		</tr>
		<tr>
			<td><a href="internal-right-column.html">internal-right-column.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The standard page with a right sidebar</td>
		</tr>
		<tr>
			<td><a href="internal-slider.html">internal-slider.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The standard page with a carousel</td>
		</tr>
		<tr>
			<td><a href="internal-blank.html">internal-blank.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The standard page with Header and Footer only</td>
		</tr>
		<tr>
			<td><a href="program-detail.html">program-detail.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The standard page for programs</td>
		</tr>
		<tr>
			<td><a href="blog-list.html">blog-list.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>The home page of the blog</td>
		</tr>
		<tr>
			<td><a href="blog-post.html">blog-post.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>A single blog post</td>
		</tr>
		<tr>
			<td><a href="staff-list.html">staff-list.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>Staff Listing: tabular and with photos</td>
		</tr>
		<tr>
			<td><a href="staff-profile.html">staff-profile.html</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>Staff page to replace Faculty front door</td>
		</tr>
	</table>
</center>
</body>
</html>
