
/*Internationalize the curriculum page settings*/
	.sub_header.intCur {
	background-image: url(../img/headerinz.jpg);
	background-position: center center;
	background-size: cover;
	opacity: .85;
    max-height: 35vmax;}

