/*Changes pictures for each section*/
.sub_header.semesterAbroadPage {
	background-image: url(../img/semesterAbroad/semesterHeaderImage.jpg);
	background-position: center center;
	background-size: 100% 100%;
	opacity: .85;
    max-height: 35vmax;}

/*Faculty Page International Education Conferences settings*/
	.sub_header.facultyIEC {
	background-image: url(../img/InternationalConferenceImage.jpg);
	background-position: center center;
	background-size: cover;
	opacity: .85;
    max-height: 35vmax;}

table.conferenceTable{
	width: 100%;
	border: 1px solid black;
	color: black;
	
}
th.conferenceTableHead{
	height: 50px;
	border: 1px solid black;
	text-align: center;
	background: #FDB913;
}
td.conferenceTableData{
	height: 40px;
	border: 1px solid black;
	text-align: center;
}
