/* SAGE landing backgrond image */

.bg_test img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;

}

 .bg_test {
  position: relative;

}


/* SAGE landing carousel */
.quote_test{
  position: absolute;
  top: 80px;
  left: 650px;
  right: 28px;
  margin-right: 0;
}

.sage_quote {
  color: #000;
  text-align: center;
  display: block;
	margin-top: 15px;
  margin-bottom: 15px;
	font-size: 1.125em;
	font-style: italic;
	font-family: 'Georgia', cursive;

}

/* END SAGE landing carousel */

/* Student landing css */

.sage {
  position: relative;
	overflow: hidden;
  top: 40px;
	position: relative;

}


div.sage > a img {
	opacity: 0.5;
}

div.sage > a:hover img{
	opacity: 1;
	transition: .3s ease;

}

/* END student landing css */

.student_landing_header {
    max-height: 250px;
    background-image: url(../img/student-header.jpg);
}

.faculty_landing_header {
  max-height: 250px;
  background-image: url(../img/faculty-header.jpg);
}

.sage_landing_header {
  max-height: 250px;
  background-image: url(../img/sage-landing-header.jpg);
}

/* contact sage css*/

.social-paddingtwo {
   padding-right: 3%;
}

.Contact-header {
    background-image: url(../img/Contact_header.jpg);
    background-position: center center;
  	background-size: cover;
    max-height: 35vmax;
}
ul.list_staff li.sage_staff {
  position: relative;
  display: block;
  /*-webkit-column-width: 50%;*/
  width: 50%;
  float:left;
}


/* Responsive CSS Code */

@media only screen and (max-width: 1200px){

 .quote_test {
   left: 500px;
 }


}

@media only screen and (max-width: 992px){

 .quote_test {
   left: 500px;
 }

}

@media only screen and (max-width:768px) {

  main {
    height: 400px;
  }


 .quote_test {
   left: 40px;
   background-color: rgba(252,246,207,.5);
 }

 .bg_test img {
   display: none;
 }


}

@media only screen and (max-width: 480px) {
  div.sage > a img {
  	opacity: 1;
  }

  .main2{
    height: 400px;
  }
  main {
    height: 1700px;
  }
  .bg_test img {
    display: none;
  }

  .quote_test {
    background-color: rgba(252,246,207,.5);
  }



}
