/* SAGE landing backgrond image css */

.bg_test img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;

}

 .bg_test {
  position: relative;

}
/* END SAGE landing background image css */

/* SAGE landing carousel */
.quote_test{
  position: absolute;
  top: 80px;
  left: 650px;
  right: 28px;
  margin-right: 0;
}

.sage_quote {
  color: #000;
  text-align: center;
  display: block;
	margin-top: 15px;
  margin-bottom: 15px;
	font-size: 1.125em;
	font-style: italic;
	font-family: 'Georgia', cursive;

}

/* END SAGE landing carousel */

/* Student landing css */

.landing_img {
  position: relative;
	overflow: hidden;
  top: 40px;
	position: relative;
}

div.landing_img > a img {
	opacity: 0.5;
}

div.landing_img > a:hover img{
	opacity: 1;
	transition: .3s ease;

}

/* END student landing css */

/* Landing header images */

.student_landing_header {
    max-height: 250px;
    background-image: url(../img/student-header.jpg);
}

.faculty_landing_header {
  max-height: 250px;
  background-image: url(../img/faculty-header.jpg);
}

.sage_landing_header {
  max-height: 250px;
  background-image: url(../img/sage-landing-header.jpg);
}

/* END landing header images css */

/* contact sage css*/

.social-paddingtwo {
   padding-right: 3%;
}

.Contact-header {
    background-image: url(../img/Contact_header.jpg);
    background-position: center center;
  	background-size: cover;
    max-height: 35vmax;
}
ul.list_staff li.sage_staff {
  position: relative;
  display: block;
  width: 50%;
  float:left;
  margin-top: 15px;
}
.faculty_dev_header {
  background-image: url(../img/prof_dev_header.jpg);
  background-position: center center;
  background-size: cover;
  max-height: 35vmax;
}

/* END contact sage css */

/*International Travel Registration css */

.sage_travelreg_header {
  background-image: url(../img/Intl_reg.jpg);
  background-position: center center;
  background-size: cover;
  max-height: 35vmax;
}

/* END International Travel Registration css */

/*Lead A Study Abroad Program CSS */

.sage_leadstudyabroad_header {
  background-image: url(../img/leadstudyabroad_header.jpg);
  background-position: center center;
  background-size: cover;
  max-height: 35vmax;
}

.notice {
    color: #bf311a;
}

/* Professional Development CSS */

.important-note-small, .important-note-medium {
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #f0f0f0;
    border: solid 1px #aaa;
    padding: 20px;
}

.important-note-small {
    background-image: url(../img/icon_note24.png);
    background-size: 24px auto;
    min-height: 1em;
    padding-left: 44px;
}

/* END Professional Developmet CSS */

/* Responsive CSS Code */

@media only screen and (max-width: 1200px){

 .quote_test {
   left: 500px;
 }


}

@media only screen and (max-width: 992px){

 .quote_test {
   left: 500px;
 }



}

@media only screen and (max-width:768px) {

  main {
    height: 400px;
  }


 .quote_test {
   left: 40px;
   background-color: rgba(252,246,207,.5);
 }

 .bg_test img {
   display: none;
 }




}

@media only screen and (max-width: 480px) {
  div.student_landing_header > a img {
  	opacity: 1;
  }

  .main2{
    height: 400px;
  }
  main {
    height: 1700px;
  }
  .bg_test img {
    display: none;
  }

  .quote_test {
    background-color: rgba(252,246,207,.5);
  }


ul.list_staff li.sage_staff {
  position: relative;
  display: block;
  width: fit-content;
  float:left;
  margin-top: 15px;
}


}
