
/*Global Distinction Page settings*/
	.sub_header.VGD {
	background-image: url(../img/Students.jpg);
	background-position: center center;
	background-size: cover;
	opacity: .85;
    max-height: 35vmax;}

